<% visitor = notification.visitor %>
<div class="notification_all">
  <% if notification.action=='dm' %>
    <% if notification.checked? %>
      <div class="read">
        <%= link_to user_path(visitor) do %>
        <%= visitor.name %>さんからメッセージが届きました。
        <% end %>
      </div>
    <% else %>
      <div class="unread">
        <%= link_to user_path(visitor) do %>
        <b><%= visitor.name %>さんからメッセージが届きました。</b>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
