<% visitor=notification.visitor %>
<% visited=notification.visited %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visitor) do %>

  <% end %>
  <%== notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>
  <% if !@message.nil? %>
    <p class="moderate-font"><%= @message %></p>
  <% end %>
</div>
