/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 .default_login{
   color:#707070;
 }

h2{
  color: #707070;
}

 .mandatory {
   font-weight: 900;
   font-size: 10px;
  color:#1AAB8A;/*文字色*/
  border-radius: 1px;/*角の丸み*/
  display: inline-block;
  background:white;
  padding-left: 2px;
  padding-right: 2px;
}


 　　
 input{
   font-size: 16px;
 }

body{
  background-color: #f4f5f0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}


// メッセージ全体
.all_message{

}


//DM一覧の時間
.chat_time{
    text-align: right;
    font-size: 8px;
}

.login_page{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:800px;
  font-size: 20px;
}

/*ログイン・新規登録ボタン*/
.login_new{
  float: right;
  display: inline-block;
}

.login{
  display: inline-block;
  padding: 5px;
  background: #f0eee4;
  border: solid 2px #707070;/*線*/
  border-radius: 6px;/*角の丸み*/
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  margin-top:20px;
  font-size: 18px;
}

.new{
  display: inline-block;
  padding: 5px;
  background: #f0eee4;
  border: solid 2px #707070;/*線*/
  border-radius: 6px;/*角の丸み*/
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  margin-top:20px;
  font-size: 18px;
}


/*新規登録ページ全体*/
.new_registration{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:800px;
}

/*catalyロゴ*/
 .logo {
   width: 314px;
   height: 57px;
   padding-top: 10px;
   padding-left: 1px;
   cursor: pointer;
 }

/*ロゴ右寄せ（共通）*/
.float_basic_information{
  float:right;
  margin-top: 10px;
  word-spacing: 15px;
}

/*ヘッダーのアイコンイメージ*/
.icon_image_header{
  width: 80px;
  height: 80px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
}


// icon画像の条件分岐（女性・男性・その他）
.icon_image_men{
  width: 100px;
  height: 100px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid #8EB8FF;
}

// icon画像の条件分岐（女性・男性・その他
.icon_image_women{
  width: 100px;
  height: 100px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid 	#FFABCE;
}

// icon画像の条件分岐（女性・男性・その他
.icon_image_other{
  width: 100px;
  height: 100px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid 	#86F9C5;
}

.icon_image_men_header{
  width: 50px;
  height: 50px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid #8EB8FF;
}

// icon画像の条件分岐（女性・男性・その他
.icon_image_women_header{
  width: 50px;
  height: 50px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid 	#FFABCE;
}

// icon画像の条件分岐（女性・男性・その他
.icon_image_other_header{
  width: 50px;
  height: 50px;
  /*サイズ指定*/
  border-radius: 80px;
  /*画像を丸くする*/
  object-fit: cover;
  /*タテヨコ比を変えないままトリミング*/
  border: 5px solid 	#86F9C5;
}


/*上のヘッダー部分全て*/
.header{
  background: #f0eee4;
  height:80px;
  box-shadow: 0 2px 4px #c1ced7;
  
}

.icon_image{

}



.all_index{
  min-height: 100vh;
  position: relative;/*←相対位置*/

  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

//説明トップ画像
.cataly_promotion{
  width: 100%;
  max-width: 100%; /* 画像幅以上拡大しないようにする指定 */
  width:1000px;
  display: block;
margin:auto;

}

// 説明アイコン一覧
.cataly_promotion_icon{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:950px;

}

// 各種アイコン詳細設定
.for_teacher_promotion,.notification_off_promotion,.anonymous_promotion{
    width: 20%;
    height: auto;

}




.notification_off_all,.anonymous_all,.for_teacher_all{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display:flex;/* flexbox */
  align-items: center; /* 垂直方向 */
}



.for_teacher_sentence{
margin-left: 10px;
color:#707070;
}

.notification_off_sentence{
  margin-left: 10px;
  color:#707070;
}

.anonymous_sentence{
  margin-left: 10px;
  color:#707070;
}

/*ヘッダー部分の中身*/
.menu{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:800px;
}


/*ヘッダーの余白部分を消す*/
* {
    margin: 0px;
    padding: 0px;
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;;
}


.container{
  display: wrap;
}



/*一番下の一覧*/
.under{
  width: 100%;
    background: #f0eee4;
  color: #fff;
  text-align: center;
  padding: 30px 0;


  bottom: 0; /*下に固定*/
}




// チャットの送信ボタン
.btn_new{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:50px;
  font-size:30px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  display: block;
   margin-top:50px;
}
.btn_new:hover {
    color: #ffffff;
    background-color: #A4C6FF	;
    cursor: pointer;
}



// ユーザーの検索ボタン
.research_button{
  background:#A5B4D6;
  color:#fff;
  border:none;
  height:50px;
  font-size:30px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  display: block;
  margin: 50px;
}

.research_button:hover {
    color: #ffffff;
    background-color: #91C191	;
    cursor: pointer;
}

.first_send__button{
  background:#A5B4D6;
  color:#fff;
  border:none;
  height:50px;
  font-size:30px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
  display: block;
  margin: 50px;
}

.first_send_button:hover {
    color: #ffffff;
    background-color: #91C191	;
    cursor: pointer;
}

// 検索フォームの項目（性別など）
.research_title{
position: relative;
margin-bottom: 7px;
margin-top: 7px;
color:#707070;
}

// ドット下線
.research_title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: -webkit-repeating-linear-gradient(-45deg, #A5B4D6, #A5B4D6 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #A5B4D6, #A5B4D6 2px, #fff 2px, #fff 4px);
}


// クリック時のカラー変更
// .field {
//   padding: 25px;
//   transition: background 0.5s ease;
//   &:focus-within {
//     background: #EEE8AA;
//   }
// }


.beta, .kiyaku{
  margin-left:auto;
  margin-right:auto;
  color:#91C191;
  width:800px;
  font-size:15px;
}

.field {
font-size:16px;
color:#707070;
}

// ヘッダー_メッセージアイコン
.envelope, .bell{
  font-size: 50px;
  display: inline-block;

  position:  relative;
}

.envelope :hover{
  color: #91C191;
  transition: 0.2s ;
}

.twitter{
  font-size: 30px;
  display: inline-block;
  padding-left:15px;
  color: #00aced ;
}
.twitter :hover{
  color: #00aced;
  transition: 0.2s ;
}


.twitter_end {
  font-size: 30px;
  display: inline-block;
  padding-left:15px;
  color: #00aced ;
}
.twitter_end :hover {
  color: #00aced;
  transition: 0.2s ;
}

.bell :hover{
  color: #91C191;
  transition: 0.2s ;
}

// 通知機能_css
.notification_circle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #91C191;
  font-size: 20px;
}

// 通知機能ページ
.notification_all{
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}



a {
  color:#707070;
  text-decoration: none;
}

label{
  cursor: pointer;
  white-space: nowrap;
}


.send_new_button{
  margin-top:100px;

 }


// =========================================================================
// =========================================================================

    // 狭いブラウザとタブレット向け
    @media (max-width: 1020px) and (min-width: 768px) {
     // ヘッダー帯部分
     .header{
      height:50px;
      }

      // ヘッダー帯部分
      .header{
        height:70px;
       }

     /*catalyロゴ*/
      .logo {
        width: 314px;
        height: 57px;
        padding-top: 8px;
      }

      .menu{
        width:690px;
      }
      .envelope, .bell{
        font-size: 50px;
      }

      .icon_image_men_header{
        width: 50px;
        height: 50px;
        /*サイズ指定*/
        border-radius: 80px;
        /*画像を丸くする*/
        object-fit: cover;
        /*タテヨコ比を変えないままトリミング*/
        border: 5px solid #8EB8FF;
        margin-right: 0px;
      }
      
      // icon画像の条件分岐（女性・男性・その他
      .icon_image_women_header{
        width: 50px;
        height: 50px;
        /*サイズ指定*/
        border-radius: 80px;
        /*画像を丸くする*/
        object-fit: cover;
        /*タテヨコ比を変えないままトリミング*/
        border: 3px solid 	#FFABCE;
        margin-right: 0px;
      }
      
      // icon画像の条件分岐（女性・男性・その他
      .icon_image_other_header{
        width: 50px;
        height: 50px;
        /*サイズ指定*/
        border-radius: 80px;
        /*画像を丸くする*/
        object-fit: cover;
        /*タテヨコ比を変えないままトリミング*/
        border: 3px solid 	#86F9C5;
        margin-right: 0px;
      }

      // ログインボタン
      .login , .new{
        display: inline-block;
        padding: 5px;
        background: #f0eee4;
        border: solid 1.8px black;/*線*/
        border-radius: 6px;/*角の丸み*/
        margin-right: auto;//ここで中央寄せを指定する。
        margin-left : auto;
        margin-top:3px;
        font-size: 16px;
      }

      /*ログイン・新規登録ボタン*/
      .login_new{
        margin-top: 15px;

      }
      
      .twitter{
        float:right;

      }
    
    }



    // =========================================================================
    // =========================================================================
   
   
    // css{スマホ向け}
    @media (max-width: 767px) { 




      .beta, .kiyaku{
        margin-left:auto;
        margin-right:auto;
        color:#91C191;
        width:350px;
        font-size:8px;
      }


       // ヘッダー帯部分
        .header{
          height:70px;
         }

       /*catalyロゴ*/
        .logo {
          width: 137.5px;
          height: 25px;
          padding-top: 25px;
        }

        .menu{
          width:360px;
        }
        .envelope, .bell{
          font-size: 35px;
        }


        .icon_image_men_header{
          width: 44px;
          height: 44px;
          /*サイズ指定*/
          border-radius: 80px;
          /*画像を丸くする*/
          object-fit: cover;
          /*タテヨコ比を変えないままトリミング*/
          border: 5px solid #8EB8FF;
          margin-right: 20px;
        }
        
        // icon画像の条件分岐（女性・男性・その他
        .icon_image_women_header{
          width: 44px;
          height: 44px;
          /*サイズ指定*/
          border-radius: 80px;
          /*画像を丸くする*/
          object-fit: cover;
          /*タテヨコ比を変えないままトリミング*/
          border: 3px solid 	#FFABCE;
          margin-right: 20px;
        }
        
        // icon画像の条件分岐（女性・男性・その他
        .icon_image_other_header{
          width: 44px;
          height: 44px;
          /*サイズ指定*/
          border-radius: 80px;
          /*画像を丸くする*/
          object-fit: cover;
          /*タテヨコ比を変えないままトリミング*/
          border: 3px solid 	#86F9C5;
          margin-right: 20px;
        }

        // ログインボタン
        .login , .new{
          display: inline-block;
          padding: 5px;
          background: #f0eee4;
          border: solid 1.8px black;/*線*/
          border-radius: 6px;/*角の丸み*/
          margin-right: auto;//ここで中央寄せを指定する。
          margin-left : auto;
          margin-top:3px;
          font-size: 10px;
        }

        /*ログイン・新規登録ボタン*/
        .login_new{
          margin-top: 20px;

        }
        
        .twitter{
          float:right;
        }

        .twitter_end{
          display: inline-block;
        }


        // 説明アイコン一覧
    .cataly_promotion_icon{
      margin-right: auto;//ここで中央寄せを指定する。
      margin-left : auto;
      width:370px;
      }


      .for_teacher_all,.notification_off_all,.anonymous_all {
        font-size:10px;
      }


  // 各種アイコン詳細設定
  .for_teacher_promotion,.notification_off_promotion,.anonymous_promotion{
    width: 60px;
    height: auto;
    }      
      

    .notification_off_all,.anonymous_all,.for_teacher_all{
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #F5F5F5;
      box-shadow: 0 2px 6px #c1ced7;
      border-radius: 10px;
      padding:10px;
      display:flex;/* flexbox */
      align-items: center; /* 垂直方向 */
    }


    /*新規登録ページ全体*/
    .new_registration{
    margin-right: auto;//ここで中央寄せを指定する。
    margin-left : auto;
    width:400px;
    }

    .login_page{
      margin-right: auto;//ここで中央寄せを指定する。
      margin-left : auto;
      width:400px;
      font-size: 20px;
    }

    .first_send_button{
      background: white;
      border: solid 2px #91C191;
      font-size:13px;
      padding:10px;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
      border-radius: 10px;
      display: block;
      margin-top: 50px;
      height:20px;
      width:70px;
    }


    .send_new_button{
      margin-top:50px;
     }

     .research_button{
      background:#91C191;
      margin-left: 100px;
      margin-top:50px;
      margin-bottom: 30px;
      appearance: none;
      border: none;
      border-raduis: none;
    }

    .research_button:hover {
      color: #ffffff;
      background-color: #91C191	;
      appearance: none;
      border: none;
      border-raduis: none;
  }


  .btn_new{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:30px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 10px;
    display: block;
     margin-top:50px;
     appearance: none;
     border: none;
     border-raduis: none;
  }
  .btn_new:hover {
      color: #ffffff;
      background-color: #1AAB8A	;
      cursor: pointer;
      appearance: none;
      border: none;
      border-raduis: none;
  }

  /*一番下の一覧*/
.under{
  width: 100%;
    background: #f0eee4;
  color: #fff;
  text-align: center;
  padding: 15px 0;


  bottom: 0; /*下に固定*/
}

     }