<p>こんにちは。CATALY運営事務局です。</p>

<p>パスワードの再設定について、下記、URLからご変更の手続きをお願い致します。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このメールは登録されたアドレスに自動送信しております。
<br>当サイトへの登録をした覚えがないのにこのメールを受け取られた方は、
<br>お手数ではございますがこのまま破棄をお願い致します。</p>


<p>引き続き、CATALYをどうぞよろしくお願い致します。</p>