<p>こんにちは。CATALY運営です。</p>

<p>パスワードの再設定について、下記、URLからご変更の手続きをお願い致します。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このメールは登録されたアドレスに自動送信しております。
当サイトへの登録をした覚えがないのにこのメールを受け取られた方は、
お手数ではございますがこのまま破棄をお願い致します。</p>


<p>引き続き、CATALYをどうぞよろしくお願い致します。</p>